<div  class="w3-hide-small">
    <a href="" style="text-decoration: none;"><div id="summary" class="left_nav w3-black w3-hover-gray"><i class="fas fa-desktop left_nav_icon"></i> Summary</div></a>
    <a href="{% url 'store-url' %}" style="text-decoration: none;"><div id="store" class="left_nav w3-black w3-hover-gray"><i class="fas fa-cart-plus left_nav_icon"></i> Store</div></a>
    <a href="{% url 'batches-url' %}"  style="text-decoration: none;"><div id="batches" class="left_nav w3-black w3-hover-gray" ><i class="fas fa-layer-group left_nav_icon"></i> Batches</div></a>
    <a href="{% url 'sales-url' %}" style="text-decoration: none;"><div id="sales" class="left_nav w3-black w3-hover-gray"><i class="fas fa-chart-line left_nav_icon"></i> Sales</div></a>
    <a href="{% url 'mortalities-url' %}" style="text-decoration: none;"><div id="mortality" class="left_nav w3-black w3-hover-gray"><i class="fas fa-skull-crossbones left_nav_icon"></i> Mortality</div></a>
    <a href="{% url 'store-url' %}" style="text-decoration: none;"><div id="tutorial" class="left_nav w3-black w3-hover-gray"><i class="fas fa-lightbulb left_nav_icon"></i> Tutorial</div></a>
    <div id="social" class="left_nav w3-black w3-cell-row">
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="far fa-question-circle left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fas fa-phone-square left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"> <i class="fas fa-lightbulb left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fab fa-linkedin left_nav_icon"></i></a>        
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fab fa-twitter left_nav_icon"></i></a>
        </div>
    </div>
</div>

<div id="mobile_menu" class="w3-hide-large w3-hide-medium w3-hide w3-animate-top">
    <div class="settings">
        <div class="w3-center">
            <span class="fas fa-toggle-on w3-padding"></span>
            <span class="fas fa-bell w3-padding"></span>
            <span class="fa fa-gear w3-padding"></span>
        </div>
    </div>
    <a href="" style="text-decoration: none;"><div id="summary" class="left_nav w3-black w3-hover-gray"><i class="fas fa-desktop left_nav_icon"></i> Summary</div></a>
    <a href="{% url 'store-url' %}" style="text-decoration: none;"><div id="store" class="left_nav w3-black w3-hover-gray"><i class="fas fa-cart-plus left_nav_icon"></i> Store</div></a>
    <a href="{% url 'batches-url' %}"  style="text-decoration: none;"><div id="batches" class="left_nav w3-black w3-hover-gray"><i class="fas fa-layer-group left_nav_icon" style="color: black;"></i> Batches</div></a>
    <a href="{% url 'sales-url' %}" style="text-decoration: none;"><div id="sales" class="left_nav w3-black w3-hover-gray"><i class="fas fa-chart-line left_nav_icon"></i> Sales</div></a>
    <a href="{% url 'mortalities-url' %}" style="text-decoration: none;"><div id="mortality" class="left_nav w3-black w3-hover-gray"><i class="fas fa-skull-crossbones left_nav_icon"></i> Mortality</div></a>
    <a href="{% url 'store-url' %}" style="text-decoration: none;"><div id="tutorial" class="left_nav w3-black w3-hover-gray"><i class="fas fa-lightbulb left_nav_icon"></i> Tutorial</div></a>
    <div id="social" class="left_nav w3-black w3-cell-row">
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="far fa-question-circle left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fas fa-phone-square left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"> <i class="fas fa-lightbulb left_nav_icon"></i></a>
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fab fa-linkedin left_nav_icon"></i></a>        
        </div>
        <div class="w3-cell">
            <a href="#" style="text-decoration: none;"><i class="fab fa-twitter left_nav_icon"></i></a>
        </div>
    </div>
</div>